<!--
 * @Date: 2020-12-04 11:25:41
 * @LastEditors: sam
 * @LastEditTime: 2020-12-04 11:26:13
 * @FilePath: /chart-demo/demo/src/views/test.html
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .column {
        max-width: 1024px;
      }
      .figure {
        padding-top: 30.85%; /* 316 / 1024 */
        background: url('http://images2015.cnblogs.com/blog/561794/201603/561794-20160310002800647-50077395.jpg')
          no-repeat;
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body>
    <h3>使用padding-top实现响应性图片(图片的宽度是1024px，高度是316px)</h3>
    <div class="column">
      <div class="figure"></div>
    </div>
  </body>
</html>
